body {
    padding: 10px;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/71nsk6vUTlL._AC_SL1470_.jpg");
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: gold;
    text-align: center;
    border-bottom: 2px ridge gold;
    padding-bottom: 20px;
}

.high-scores {
    float: left;
    color: gold;
    font-size: 30px;
}

.high-scores:hover {
    color: pink;
}

.timer {
    float: right;
    color: gold;
    font-size: 30px;
}

.container {
    justify-content: center;
    clear: both;
}

.main {
    border: ridge 3px gold;
    margin-top: 100px;
    padding: 30px 30px 10px 30px;
    background-color: darkgoldenrod;
    color:white;
    text-align: center;
    font-size:  25px;
}

.btn {
    margin: 14px;
    font-size: 20px;
    
}

.highscore-div {
    width: 40%;
    margin: 0 auto;
    min-height: 300px;
}

table {
    width: 100%;
}

table thead {
    color: black;
    font-size: larger;
    text-decoration: underline;
}